@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400;600;700;900&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Inter', sans-serif;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}


a {
  color: inherit;
  text-decoration: none;
}

td {
  border-color: rgb(185, 186, 209) !important;
}

@media screen and (max-width: 1200px) {
  .heroImage {
    display: none;
  }

  .someText {
    width: 100%;
  }
  .textParent {
    width: 100vw;
  }

  .form {
    width: 80% !important;
  }
  .sub {
    font-size: 40px !important;
    margin-top: 2rem !important;
  }
  .table *{
    font-size: 90% !important;
  }

  .table * {
    max-width: 60vw;
  }


}

@media screen and (max-width: 800px) {

  .someText {
   font-size: 40px !important;
  }

  .tagline {
    font-size: 20px !important;
  }
  .sub {
    padding: 0 2rem !important;
    font-size: 30px !important;
    margin-top: 2rem !important;
  }

  .mainInput {
    font-size: 20px !important;
  }

  .modalinput {
    font-size: 20px !important;
    margin-left: 0rem !important;
  }

  .modalinputparent {
    height: 20px !important;
    padding: 1.2rem 0 !important;
  }

  .searchIcon {
    padding: 0 !important;
    width:20px !important;

  }

  .networkBtn {
    width: 5rem !important;
    height: 2rem !important;
    padding: 0 12px !important;
    font-size: 0.9rem !important;
    
  }

  .networkBtn > * {
    width: 10px !important;
  }

  .networkLst {
    width: 130px !important;    
  }

  .networkLst > * {
    font-size: 15px !important;
    height: 30px !important;
    margin-top: 5px !important;
  }



}
